@import 'common/sassStyles/_variables';
.cardimg {
  border-radius: 0.5rem;
  border-color: #0d0d0e !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // box-shadow: 5px 7px 5px 1px #888888;
}

p {
  color: #0d0d0e;
}

@media only screen and(max-width:991px  ) {
  .cardimg {
    height: 15rem !important;
  }
}
