.headercard {
  height: 1.5rem;
  background-color: rgb(44, 64, 151);
}
.textito {
  //   white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.notificacion {
  font-size: 0.7rem;
  font-weight: bold;
}
.negrita {
  font-weight: bold;
  color: rgb(16, 85, 43, 1);
}

.borde-izquierda-arriba {
  border-radius: 0.5rem 0rem 0rem 0rem;
}

.borde-derecha-arriba {
  border-radius: 0rem 0.5rem 0rem 0rem;
}

.borde-izquierda-abajo {
  border-radius: 0rem 0rem 0rem 0.5rem;
}

.borde-derecha-abajo {
  border-radius: 0rem 0rem 0.5rem 0rem;
}
